<%= render 'shared/navigation2'%>


<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, id: 'msform' }) do |f| %>
  <fieldset>
    <h5>Forgot your password?</h5>
      <%= devise_error_messages! %>
    <%= f.email_field :email, autofocus: true,placeholder: "Email" %>

    <%= f.submit "Reset" ,class: 'action-button' %>
   </fieldset>
<% end %>







