    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Men</h2>
                              <table id="comparetable" class="table table-striped">
                               <tr>
                                <td class="blank"> </td>
                                    <th>Iron</th>
                                    </tr>
                                    
                                    <% @pricing.each do |pricing|%>
                                        <% if pricing.washandiron == true && pricing.category == 'Men'%>
                                            <tr>
                                            <td ><%= pricing.name%></td>    

                                            <td>INR <%= pricing.price%> Rs</td>
                                            </tr>
                                        <%end%>
                                    <%end%>    
                              </table>
                              <h2>Women</h2>
                              <table id="comparetable" class="table table-striped">
                               <tr>
                                <td class="blank"> </td>
                                    <th>Iron</th>
                                    </tr>
                                    
                                    <% @pricing.each do |pricing|%>
                                        <% if pricing.washandiron == true && pricing.category == 'Women'%>
                                            <tr>
                                            <td ><%= pricing.name%></td>    

                                            <td>INR <%= pricing.price%> Rs</td>
                                            </tr>
                                        <%end%>
                                    <%end%>    
                              </table>
                              <h2>Kids</h2>
                              <table id="comparetable" class="table table-striped">
                               <tr>
                                <td class="blank"> </td>
                                    <th>Iron</th>
                                    </tr>
                                    
                                    <% @pricing.each do |pricing|%>
                                        <% if pricing.washandiron == true && pricing.category == 'Kids'%>
                                            <tr>
                                            <td ><%= pricing.name%></td>    

                                            <td>INR <%= pricing.price%> Rs</td>
                                            </tr>
                                        <%end%>
                                    <%end%>    
                              </table>
                              <h2>Other Household Clothes</h2>
                              <table id="comparetable" class="table table-striped">
                               <tr>
                                <td class="blank"> </td>
                                    <th>Iron</th>
                                    </tr>
                                    
                                    <% @pricing.each do |pricing|%>
                                        <% if pricing.washandiron == true && pricing.category == 'HouseholdClothes'%>
                                            <tr>
                                            <td ><%= pricing.name%></td>    

                                            <td>INR <%= pricing.price%> Rs</td>
                                            </tr>
                                        <%end%>
                                    <%end%>    
                              </table>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




        <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Privacy Policy</h2>
                            <p class="item-intro text-muted"></p>
                            
                            <p>
                                <h3>KWIKIRON, PRIVACY NOTICE</h3>
                                We at KwikIron (, “we,” “us,” , “our” or “KwikIRon”) have created this privacy policy (this “Privacy Policy”) because we respect your privacy. This Privacy Policy pertains to the information collection and use practices of KwikIron, our mobile application (the “App”).
                                By using our services and application(web & mobile), you are agreeing to the terms of this Privacy Policy and the accompanying Terms of Use located within the App.
                                <h3>THE INFORMATION WE COLLECT</h3>
                                <h4>Personal Information</h4>
                                If you sign up for an Account on the App, you will be required to provide us with certain personal information about yourself (“Personal Information”), such as your name, e-mail address, and a password. We do not collect any Personal Information from you when you use the App unless you provide us with the Personal Information voluntarily.
                                <h4>Other Information Automatically Collected</h4>
                                We may also automatically collect additional information (collectively, the “Other Information”) through various technology used in conjunction with the App. Such Other Information may include information that is collected when you visit the App, such as your IP addresses, browser type, referring and exit pages and URLs, date and time, amount of time spent on particular pages, what sections of the App you visit, and other similar information regarding your use of the App. Additionally, information may be collected via “cookie” technology. Cookies are small packets of data that a App stores on your computer or smart phone’s hard drive that enables your computer or smart phone to “remember” certain information about your visit to the App. We may use cookies both to help us collect Other Information and to also enhance your user experience in connection with the App. If you do not wish for us to put a cookie on your hard drive, you may be able to turn that feature off via your Internet browser. However, you should note that if you decide not to accept cookies from us, the App may not function properly.
                                <h4> Order(Pickup) Information</h4>
                                When you wish to process an order for certain services through the App (each, an “Order”), you must provide us with certain information about the transaction you are seeking to execute, such as number of articles of clothing, date for pick-up.
                                <h3>HOW WE USE AND SHARE THE INFORMATION</h3>
                                We use the Personal Information, Other Information and Order Information (collectively, the “Information”) to process your orders, solicit your feedback, inform you about services, and to improve your overall App experience.
                                There are certain limited circumstances in which we may share your Information with certain third parties without notice to you, which may include disclosing your information as follows: (i) with Service Providers that perform services on our behalf, (ii) with legal authorities if we are compelled to do so by applicable law or an order from a court of competent jurisdiction under Nagpur, (iii) upon request by law enforcement authorities, (iv) if we believe that disclosure is reasonably necessary to prevent physical or financial harm, and (v) in connection with an investigation pertaining to suspected or actual illegal activities. Additionally, in the event of a corporate sale, merger, acquisition, reorganization, bankruptcy, dissolution or similar event (“Transfer Event”), we reserve the right to sell and transfer your Information if we sell or transfer all or a portion of our business or assets. Should a Transfer Event occur, we will use reasonable efforts to direct the transferee to treat your Information in a manner that is consistent with this Privacy Policy.
                                <h3>HOW WE PROTECT YOUR INFORMATION</h3>
                                We take commercially reasonable steps to protect the Information from loss, misuse, and unauthorized access, disclosure, alteration, or destruction. We hope that you will understand, however, that no security system is impenetrable, and that accordingly, we cannot guarantee the security of our databases.
                                <h3>CHANGES TO THIS PRIVACY POLICY</h3>
                                This Privacy Policy is effective as of the date stated at the top of this Privacy Policy. We may change this Privacy Policy from time to time, and will post any changes on the App as soon as they go into effect. By accessing the App after we make any such changes to this Privacy Policy, you are deemed to have accepted such changes. Please refer back to this Privacy Policy on a periodic basis.
                                <h3>CONTACT US</h3>
                                If you have questions about this Privacy Policy, please e-mail us at support@kwikiron.in .

                            </p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Our Terms and Conditions</h2>
                            <p class="item-intro text-muted"></p>
                            
                            <p>Rest assured, your satisfaction is our first priority. In fact, we treat your laundry as if it were our own, however we still need to agree to some rules to ensure that there are no misunderstandings about KwikIron (referred to as "we," "us," "our", or "KwikIron") or your obligations. By using our service and application(web & mobile), you acknowledge and accept the following Terms and Conditions.
                            <h5>Iron, Wash & Iron Laundry Terms</h5>
                            <h6>Suitability for Laundering</h6>
                            By using our service, you agree that your clothes are suitable to be washed in water, on a normal cycle, and dried using heat or direct sunlight. You also agree upon ironing your clothes with the use of coal based/steam irons. We cannot be responsible for any damage to clothing that is not suitable for this standard laundering process.
                            <h6>Damaged Clothes</h6>
                            We will do everything we can to avoid damaging your laundry, we run our in-house quality checks on regular basis. Unfortunately there are limitations to what we can do. For example, we don't have time to check your pockets to see if you have left anything in them. Therefore, we can't be held responsible if something left in your laundry (like lipstick, chewing gum, or a pen) causes any damage. Similarly, if you call and tell us that you left your favorite bracelet, or anything else, in your pocket, we can’t guarantee that we will find or return it. But we will try to do our best to find out your left things in your pockets.
                            All laundering processes, regardless of how gentle, cause normal wear and tear on clothing. As a result, we cannot be responsible for any wear and tear of laundry, including loss of buttons, fading, fatiguing, holes, or abrasions. Similarly, we reserve the right to decline cleaning any particular piece of laundry if we think it will lead to trouble.
                            Cleaning and drying laundry also creates other risks. We do not individually examine every garment prior to placing it in the laundry. Therefore, if something is "dry-iron only," or otherwise unsuitable for common washing and drying techniques, please do not include it in the laundry you give to us. 
                            <h6>Lost Clothes</h6>
                            We would love to be able to inventory every piece of laundry you give us. Unfortunately, it is cost-prohibitive for us to do so. As a result we can't be held responsible for any lost laundry; we simply have no efficient way of verifying that we actually received any particular piece of laundry in the first place. We try to be 100% sure that the clothes you give to us for will get back to you without losing them.
                            Rest assured though, we carefully track your clothes. For instance, we tag all our bundles with your name, order id and your clothes are never loose in our facility unless they’re inside a machine, on the folding table or with our expert laundry mat.
                            If you do believe you are missing something from your delivery, please notify us within 24 hours of receiving your clean clothes — we are much more likely to find misplaced laundry if it is reported early.
                            <h5>General Terms for All Services</h5>
                            <h6>Scheduling and Payment</h6>
                            If you no longer want our service, simply let us know and we will cancel it. Although we truly hope you are satisfied with our services, once we have laundered your clothes, we cannot offer a refund.
                            Exact amount payable will be calculated when our executive will come for the pickup of your clothes. You are bound to pay the calculated amount once we deliver your clothes after completing our service. Currently we are only accepting COD(Cash on Delivery).

                            <h6>Lost and Damaged Clothes</h6>
                            We continuously work to ensure that we have zero errors while processing your clothes, but certainly we do not guarantee anything. If in case the clothes are damaged at our end due to human mistakes, we will refund 10 times the cost of servicing the cloth.   
                            <h6>Minimum Fee and clothes</h6>
                            Please see our rate pricing section for the same. For on demand laundry to the non-serviceable area we may charge an additional delivery fees of Rs.35 on case to case basis. 
                            <h6>Pick-up and Delivery Scheduling(Moring 7am to 12Noon)</h6>
                            KwikIron provides pick-up and delivery service through our executives, who will come to your doorstep and pickup the clothes for desired service. At the time of picking up of your clothes our executive will certainly check each cloth for damage and non-serviceable. It’s completely on our discretion whether to take damaged or non-serviceable clothes.
                            Pickup requested before 12noon on each business day will be picked up on same day, whereas pickup requested after 12noon will be collected on next business day.
                            We will do our best to pick-up your laundry at the agreed upon time. We know that we won't have very many customers if we are late. That being said, we can't be held accountable if we are late for unforeseen circumstances. Similarly, we hope that you will strive to be on-time for our deliveries. If you do miss a pick-up or delivery, we will try to coordinate an alternate time as soon as possible.

                            A No Show is when we show up to your door, but you and your laundry aren't around. In the case of a Now Show, we reserve the right to charge a Rs.35 No Show fee collected in cash. Keep in mind,  there's no fee if you cancel or reschedule by the start of your delivery window. 
                            <h5>Unattended Pick-up and Delivery</h5>
                            If you request that we leave your laundry unattended (e.g., Leave with neighbor, servent. doorman) we are not responsible for your laundry before we have picked it up or after we have dropped it off. You also agree that our records of pick-up and drop-off times are true and accurate.
                            <h6>Allergies</h6>
                            We use branded washing detergents for all our personal laundry customers in Nagpur and however, we do wash all clothes by hand in same container where other detergents may have been used, and it is possible that small amounts of other detergents, which may not be hypoallergenic, may not be completely rinsed out which will cause an allergy. 
                            <h6>Miscellaneous</h6>
                            As our business changes, we may want to modify some of terms in this agreement. Therefore, we encourage you to check back frequently to familiarize yourself with any changes.
                            Although we think we are generally agreeable people, we recognize that KwikIron and you may have a dispute. In this event, you agree that any legal action pertaining to this agreement, or KwikIron generally, shall be conducted in under Nagpur jurisdiction only.  </p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Men</h2>
                              <table id="comparetable" class="table table-striped">
                               <tr>
                                <td class="blank"> </td>
                                    <th>Wash & Iron</th>
                                    </tr>
                                    
                                    <% @pricing.each do |pricing|%>

                                        <% if pricing.iron == true && pricing.category == 'Men' %>
                                            <tr>
                                            <td ><%= pricing.name%></td>    

                                            <td>INR <%= pricing.price%> Rs</td>
                                            </tr>
                                        <%end%>
                                    <%end%>    
                              </table>
                              <h2>Women</h2>
                              <table id="comparetable" class="table table-striped">
                               <tr>
                                <td class="blank"> </td>
                                    <th>Wash & Iron</th>
                                    </tr>
                                    
                                    <% @pricing.each do |pricing|%>
                                        <% if pricing.iron == true && pricing.category == 'Women'%>
                                            <tr>
                                            <td ><%= pricing.name%></td>    

                                            <td>INR <%= pricing.price%> Rs</td>
                                            </tr>
                                        <%end%>
                                    <%end%>    
                              </table>
                              <h2>Kids</h2>
                              <table id="comparetable" class="table table-striped">
                               <tr>
                                <td class="blank"> </td>
                                    <th>Wash & Iron</th>
                                    </tr>
                                    
                                    <% @pricing.each do |pricing|%>
                                        <% if pricing.iron == true && pricing.category == 'Kids'%>
                                            <tr>
                                            <td ><%= pricing.name%></td>    

                                            <td>INR <%= pricing.price%> Rs</td>
                                            </tr>
                                        <%end%>
                                    <%end%>    
                              </table>
                              <h2>Other Household Clothes</h2>
                              <table id="comparetable" class="table table-striped">
                               <tr>
                                <td class="blank"> </td>
                                    <th>Wash & Iron</th>
                                    </tr>
                                    
                                    <% @pricing.each do |pricing|%>
                                        <% if pricing.iron == true && pricing.category == 'HouseholdClothes'%>
                                            <tr>
                                            <td ><%= pricing.name%></td>    

                                            <td>INR <%= pricing.price%> Rs</td>
                                            </tr>
                                        <%end%>
                                    <%end%>    
                              </table>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body" id="modal-body">
        
      </div>
    </div>
  </div>
</div>

