<%= render 'shared/navigation2'%>
<!-- multistep form -->
<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {id: 'msform'}) do |f| %>

    <fieldset>
        <h2 class="fs-title">Log in</h2>
        <%= f.email_field :email, autofocus: true, placeholder: "Email"  %>
        <%= f.password_field :password, autocomplete: "off" , placeholder: 'Password'%>
<!--       <input type="button" name="signup" class="signup action-button" value="Sign Up" />
 -->      <%= link_to "Sign Up",new_customer_registration_path, class: "action-button"%>
 <%= f.submit "Log in",class: 'action-button' %>
    </fieldset>
<%end%>



