<%= render 'shared/navigation2'%>
<!-- multistep form -->
<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {id: 'msform'}) do |f| %>

    <fieldset>
      <%= devise_error_messages! %>
        <h2 class="fs-title">Log in</h2>
        <%= f.email_field :email, autofocus: true, placeholder: "Email"  %>
        <%= f.password_field :password, autocomplete: "off" , placeholder: 'Password'%>
          <%= link_to "Forgot your password?", new_password_path(resource_name) %><br>

          <input type="button" onclick="location.href='/customers/sign_up';" value="Sign Up"  class="action-button" />
            <%= f.submit "Log in",class: 'action-button' %>
    </fieldset>
<%end%>



